---
export interface Props {
  title: string;
  description: string;
  type: string;
  coverImage: string;
}

const { title, description, type, coverImage } = Astro.props;
const desc = !description ? "" : description;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Source+Code+Pro&display=swap"
    rel="stylesheet"
  />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={desc} />
  <meta property="og:title" content={title} />
  <meta property="og:type" content={type} />
  <meta property="og:site_name" content="munisystem.dev" />
  <meta property="og:url" content="munisystem.dev" />
  {
    typeof coverImage !== "undefined" && (
      <meta property="og:image" content={new URL(coverImage, Astro.url)} />
    )
  }
  <meta property="og:description" content={desc} />
  <meta property="twitter:creator" content="@munisystem" />

  <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-2N5K6Z0D35"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2N5K6Z0D35');
  </script>
</head>
